# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistemas operativos
.DS_Store      # macOS
Thumbs.db      # Windows

# Directorios de compilación
/build/
/dist/
